
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

</head> 
<body>
	<section >
	<div class="card mx-3">
		<div class="card-body">
			
			<h1 class="text-center">Add Contact</h1>
			<div class="container-fluid mt-1">
				
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action="#" th:object="${contact}" 
								enctype="multipart/form-data"
								method="post"
								th:action="@{/user/process-contact}"
								class="mt-2">
								
								<!--First name-->
								<div class="input-group">
									
										<span class="input-group-text ">
											<i class="fa fa-plus"></i>
										</span>
										
									
									<input required type="text" id="firstName" name="firstName" placeholder="Enter FirstName Hear" class="form-control"/>
								</div>
								
								<!--Second name-->
								<div class="input-group mt-3">
									
										<span class="input-group-text ">
											<i class="fas fa-user-alt"></i>
										</span>
										
									
									<input type="text" id="secondName" name="secondName" placeholder="Enter SecondName Hear" class="form-control"/>
								</div>
								
								
								<!--Phone Field-->
								<div class="input-group mt-3">
									
										<span class="input-group-text ">
											<i class="fas fa-phone"></i>
										</span>
										
									
									<input required min="10"  type="number" id="phnum" name="phnum" placeholder="Enter Phone Number" class="form-control"/>
								</div>
								
								
								<!--Email Field-->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											@
										</div>
										
									</div>
									<input type="email" id="email" name="email" placeholder="Enter Email" class="form-control"/>
								</div>
								
								
								<!--Work Field-->
								<div class="input-group mt-3">
									
										<span class="input-group-text ">
											<i class="fas fa-briefcase"></i>
										</span>
										
									
									<input type="text" id="work" name="work" placeholder="Enter Work Details" class="form-control"/>
								</div>
								
								
								<!--Description Field-->
								<div class="input-group mt-3">
									<textarea name="description" id="description" rows="20" class="form-control" placeholder="Enter The Contact Description"></textarea>	
								</div>
								
								
								<!--Contact Image Field-->
								<div class="custom-file mt-3">
									<input type="file" name="profileImage" />
								</div>
								
								
								<div class="container text-center mt-3">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
						</form>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	</section>
</body>
</html>