<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/show_contact_style.css}">
</head> 
<body >
	<section >
		<div class="card me-3">
			<!--<div th:if="${session.message}">
   			 <div th:classappend="${session.message.type}" class="alert" role="alert">
      			  <p th:text="${session.message.content}"></p>
   			 </div>
   					  Remove the message from the session after displaying it 
   					<th:block th:remove="tag" th:if="${session.removeAttribute('message')}"></th:block>
				</div>-->

			<div class="card-body ">
				<h1 class="text-center">Your Contacts</h1>
					
					
					<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#Id</th>
						      <th scope="col">First-Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Phnum</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="c : ${contacts}">
						      <th scope="row" th:text="'USN-2023-'+${c.cId}"></th>
						      <td > <img src="" class="my_profile_picture" th:src="@{'/image/'+${c.image}}">  <a style="text-decoration: none; " th:href="@{'/user/'+${c.cId}+'/contact'}"> <span th:text="${c.firstName}"></span> </a> </td>
						      <td > <span th:text="${c.email}"></span></td>
						      <td th:text="${c.phnum}"></td>
						      <td >
								   <a class="btn btn-danger btn-sm" th:href="@{'/user/delete/'+${c.cId}}"> Delete</a> 
								   
								   <form method="post" th:action="@{'/user/update-contact/'+${c.cId} }" class="mt-2">
								  <button type="submit" class="btn btn-primary btn-sm" > Update</button>
								  </form>
							  </td>
						    </tr>
						    
						  </tbody>
						</table>
							<nav aria-label="Page navigation example">
							  <ul class="pagination">
							    <li th:if="${currentPage+1 != 0}" class="page-item"><a th:href="'/user/show-contacts/' + ${currentPage-1}" class="page-link" href="#">Previous</a></li>
							    
							    <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1? 'active' : ''}"  class="page-item"><a th:href="'/user/show-contacts/' + ${i-1}" class="page-link" href="#"> <span th:text="${i}"></span> </a></li>
							 
							    <li th:if="${currentPage+1 != totalPages}" class="page-item"  ><a th:href="'/user/show-contacts/' + ${currentPage+1}" class="page-link" href="#">Next</a></li>
							  </ul>
							</nav>
			</div>
		</div>
	</section>
</body>
</html>