<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head> 
<body>
	<section >
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					
					<div class="my-card" >
						
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						  <p th:text="${session.message.content}"></p>
						  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						
						
						<div class="container text-center">
							<img src="" th:src="@{/image/application.png}" style="width: 80px;">
						</div>
						
						<h1 class="text-center">Edit Yor Details Hear</h1>
						<form novalidate action="" th:action="@{/user/updateProfile}" method="post" th:object="${this_user}">
							
							<input type="hidden"  th:value="${this_user.id}" name="id" > 
							<!--Name Field-->
							<div class="mb-3">
							    <label for="name_field" class="form-label">Name</label>
							    <input type="text" name="userName" class="form-control" id="name_field" th:classappend="${#fields.hasErrors('userName')? 'is-invalid':''}" required aria-describedby="emailHelp" placeholder="Enter your Name"
							    th:value="${this_user.userName}">
							    
							     <div class="invalid-feedback" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
							      
							    </div>
  							</div>
  							
  							<!--Email Field-->
							<div class="mb-3">
							    <label for="email_field" class="form-label">Email</label>
							    <input type="email" name="email" class="form-control" id="email_field" required aria-describedby="emailHelp" placeholder="Enter your Email"
							    th:value="${this_user.email}"
							    th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}">
							    
							    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
							      
							    </div>
  							</div>
  							
  							<!--Password Field-->
							<div class="mb-3">
							    <label for="password_field" class="form-label">Password</label>
							    <input type="password" name="password" class="form-control" id="password_field" required aria-describedby="emailHelp" placeholder="Enter your password"
							     th:value="${this_user.password}"
							     th:classappend="${#fields.hasErrors('password')? 'is-invalid':''}">
							     
							      <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
							      
							    </div>
  							</div>
  							
  							<!--User About textarea-->
  							<div class="mb-3">
							   <textarea name="about" rows="10" class="form-control" placeholder="Enter some thing about your self" th:text="${this_user.about}"></textarea>
  							</div>
  							
  							<!--<div class="form-group form-check ">
								<input type="checkbox" name="agrement" class="form-check-input text-center" id="agrement">
								<label for="agreement">Accept Terms and Conditions</label>	  
							 </div>-->
  							
  							<div class="container text-center">
								  <button type="submit" class="btn bg-primary text-white">Submit</button>
								  <button type="reset" class="btn bg-primary text-white">Reset</button>
							  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>