<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head> 
<body>
	<section class="banner d-flex justify-content-center align-items-center  ">
		<div class="text-center">
			<h1 >Smart Contact </h1>
			<p>Start Collecting Your Contacts Smarter Way. We Provide Very Efficient
				Way Of Handling Contacts. 
			</p>
			<button class="btn bg-primary btn-lg text-white" >Get Start</button>
		</div>
	</section>
</body>
</html>